:root {
   --itg-app-primary-color: #ff068f;
   --itg-app-secondary-color: #f89512;
   --itg-app-background: #f5f5f5;
   --itg-app-scrollbar-thumb-background: #d1d1d1;
   --itg-navigator-background: #ffffff;
   --itg-navigator-height: 60px;
   --itg-root-dark-alpha-color-00: #ffffff;
   --itg-root-dark-alpha-color-10: #eeeeee;
   --itg-root-dark-alpha-color-20: #e6e5e5;
   --itg-root-dark-alpha-color-30: #e8e8e8;
   --itg-root-dark-alpha-color-40: #dfdfdf;
   --itg-root-dark-alpha-color-50: #888888;
   --itg-root-dark-alpha-color-60: #5e5e5e;
   --itg-root-dark-alpha-color-70: #4b4b4b;
   --itg-root-dark-alpha-color-80: #333333;
   --itg-root-dark-alpha-color-100: #090909;
   --itg-card-color: #ffffff;
   --itg-loading-color:#888888;
   --itg-app-text-call-to-action-color: #359ee4;
   --itg-app-text-default-color: #111111;
   --itg-app-text-default-color-alpha-30: #e8e8e8;
   --itg-app-text-default-color-alpha-40: #bbbbbb;
   --itg-app-text-default-color-alpha-45: #b1afaf;
   --itg-app-text-default-color-alpha-50: #888888;
   --itg-app-text-default-color-alpha-60: #5e5e5e;
   --itg-app-button-call-to-action-background: #359ee4;
   --itg-app-button-call-to-action-color: #ffffff;
   --itg-app-icon-default-color: #0e0e0e;
   --itg-reaction-like-default-color: #0e0e0e;
   --itg-reaction-like-active-color: #ff065d;
   --itg-overlay-background:rgba(0,0,0,.4);
}


#nprogress {
   pointer-events: none;
   z-index: 10000;
   position: fixed;
   left:0;
   width:100%;
   top:0;
 }
 #nprogress .bar {
   background: linear-gradient(-45deg,var(--itg-app-primary-color),var(--itg-app-secondary-color));
   height: 5px;
}